<div class="wrapper">
  <div id="formContent">
    <span *ngIf="isRegister()">
      <div class="first m-4">
        <h1>Registrar</h1>
      </div>
      <form [formGroup]="formRegister">
        <input
          type="text"
          id="login"
          class="second"
          name="login"
          placeholder="Usuario"
          formControlName="username"
        />
        <input
          type="text"
          id="password"
          class="third"
          name="login"
          placeholder="Senha"
          formControlName="password"
        />
        <input
          type="submit"
          class="fourth m-3"
          value="Cadastrar"
          (click)="register()"
        />
      </form>
    </span>

    <span *ngIf="isLogin()">
      <div class="first m-4">
        <h1>Login</h1>
      </div>
      <form [formGroup]="formLogin">
        <input
          type="text"
          id="login"
          class="second"
          name="login"
          placeholder="Usuario"
          formControlName="username"
        />
        <input
          type="text"
          id="password"
          class="third"
          name="login"
          placeholder="Senha"
          formControlName="password"
        />
        <input
          type="submit"
          class="fourth m-3"
          value="Entrar"
          (click)="login()"
        />
      </form>
    </span>

    <div id="formFooter">
      <a
        *ngIf="isLogin()"
        class="underlineHover cursor-pointer"
        (click)="step = 'REGISTER'"
        >Registrar</a
      >

      <a
        *ngIf="isRegister()"
        class="underlineHover cursor-pointer"
        (click)="step = 'LOGIN'"
        >Logar</a
      >
    </div>
  </div>
</div>
