<app-button (onClick)="moveToPreviousPage()">Voltar</app-button>
<form [formGroup]="form">
  <div class="row">
    <div class="col">
      <app-input
        label="Nome"
        formControlName="name"
        [control]="form.get('name')"
      />
    </div>
    <div class="col">
      <app-input
        label="CNPJ"
        formControlName="cnpj"
        [control]="form.get('cnpj')"
      />
    </div>
  </div>

  <div formGroupName="address">
    <div class="row">
      <div class="col">
        <app-input
          label="Logradouro"
          formControlName="street"
          [control]="form.get('address.street')"
        />
      </div>
      <div class="col">
        <app-input
          label="Número"
          formControlName="numero"
          [control]="form.get('address.numero')"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-input
          label="Bairro"
          formControlName="neighborhood"
          [control]="form.get('address.neighborhood')"
        />
      </div>
      <div class="col">
        <app-input
          label="Cidade"
          formControlName="city"
          [control]="form.get('address.city')"
        />
      </div>
    </div>
    <div class="row">
      <div class="col">
        <app-input
          label="Estado"
          formControlName="state"
          [control]="form.get('address.state')"
        />
      </div>
      <div class="col">
        <app-input
          label="CEP"
          formControlName="zipCode"
          [control]="form.get('address.zipCode')"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <app-input
        label="Telefone"
        formControlName="phone"
        [control]="form.get('phone')"
      />
    </div>
    <div class="col">
      <app-input
        label="Email"
        formControlName="email"
        [control]="form.get('email')"
      />
    </div>
  </div>
</form>

<app-button (onClick)="createOrUpdate()" id="submit">
  {{ this.idEdit ? "Atualizar" : "Adicionar" }}
</app-button>
