<app-button (onClick)="moveToCreatePage()">Adicionar</app-button>

<app-table [data]="rows">
  <app-column header="Código" [field]="'id'"> </app-column>
  <app-column header="Nome" [field]="'name'"> </app-column>
  <app-column header="CNPJ" [field]="'cnpj'"> </app-column>
  <app-column header="Telefone" [field]="'phone'"> </app-column>
  <app-column header="E-mail" [field]="'email'"> </app-column>
  <app-column header="Ações">
    <ng-template #actionsTemplate let-row>
      <span class="pr-1 cursor-pointer">
        <i (click)="moveToEdit(row.id)" class="bi bi-pencil-fill pe-3"></i>
      </span>
      <span class="cursor-pointer">
        <i (click)="deleteById(row.id)" class="bi bi-trash"></i>
      </span>
    </ng-template>
  </app-column>
</app-table>
