<div class="row justify-content-end">
  <div class="col-auto">
    <app-button (onClick)="moveToCreatePage()" class="btn-dark mb-3"
      ><i class="bi bi-plus-circle-dotted"></i
    ></app-button>
  </div>
</div>

<app-table *ngIf="rows && rows.length > 0" [data]="rows">
  <app-column header="Código" [field]="'id'"> </app-column>
  <app-column header="Nome" [field]="'name'"> </app-column>
  <app-column header="CNPJ" [field]="'cnpj'"> </app-column>
  <app-column header="Telefone" [field]="'phone'"> </app-column>
  <app-column header="E-mail" [field]="'email'"> </app-column>
  <app-column header="Ações">
    <ng-template #actionsTemplate let-row>
      <span class="pr-1 cursor-pointer">
        <i (click)="moveToEdit(row.id)" class="bi bi-pencil-fill pe-3"></i>
      </span>
      <span class="cursor-pointer">
        <i (click)="deleteById(row.id)" class="bi bi-trash"></i>
      </span>
    </ng-template>
  </app-column>
</app-table>

<div *ngIf="!rows || rows.length === 0" class="alert alert-dark d-flex justify-content-center text-center">
  Nenhum registro encontrado.
</div>
